.center {
    text-align: center;
}

.sectionHeader {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.comment {
    max-width: 500px;
    padding-right: 150px;
    overflow-wrap: break-word;
}

.commentUser {
    padding-right: 10px;
}

.chatBubble {
    padding-right: 15px;
    margin-top: 2px;
}

.photo {
    width: 50px;
    height: 40px;
    padding-right: 10px;
}

.commentTable {
    margin-top: -20px;
}